/* header nav */
.header {
    margin-right: 150px;
    margin-left: 150px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 120px;

}

.ul-cart {
    display: flex;

}

.ul {
    display: flex;
}

nav ul li {
    margin-right: 30px;
    list-style: none;
}

.cart {
    display: flex;
    align-items: center;
    color: #863d3d;
    font-size: 15px;
    font-weight: 500;
}

.logo {
    width: 135;
    height: 82;
}

.headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1140;
    height: 461;
}

.fresh-flowers {
    color: #E95A08;
}

/* section our plant */
.sell-margin {
    margin-top: 120px;
    margin-bottom: 210;
}

.our-plants {
    text-align: center;
    margin-bottom: 49px;
}

.sell {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.list {
    margin-right: 20px;
    margin-bottom: 30px;
}

.btn {
    padding: 26px 50px 26px 50px;
    color: #FFFFFF;
    background-color: #E95A08;
    font-style: bold;
    font-size: 16;

}

/* Flower & Plants Lover */
.plants {
    margin-top: 210px;
}

.plants-lover {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-container {
    position: relative;
    width: 300px;
}

.main-imgage {
    width: 540px;
    height: 597px;
}

.badge {
    position: absolute;
    top: -150px;
    left: 400px;
    width: 286px;
    height: 286;
}

.heading-flower {
    font-style: bold;
    font-size: 50;
    width: 540;
    height: 137;
}

.include {
    width: 540;
    height: 108;
    font-size: 22;
}

/* Bloom plant */
.latest-deals {
    margin-top: 133.8px;
}

.plantss {
    display: flex;
    justify-content: space-between;
}

.bloom-plant {
    background-image: url(assets/deal-bloom.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
    width: 366.22px;
    height: 201px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding-top: 50px;
    margin-bottom: 25px;
}

.bloom-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.shop {
    display: flex;
    justify-content: center;

}

.ana-plant {
    background-image: url(assets/deal-ana.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
    width: 366.22px;
    height: 197px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding-top: 50px;
}

.zabo {
    background-image: url(assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 22px;
    width: 1140px;
    height: 523px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    margin-left: 28px;
}

/* join the etc */

.body{
    margin-top: 120px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/news-letter-bg.png);
    background-size: cover;
    width: 100%;
    height: 533px;   
}

.container {
    align-items: center;    
    justify-content: center;
}

.join {
    color: #ffffff;
    margin-left: 60px;
}

.email-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
}

.button {
    padding: 10px 20px;
    background-color: #E95A08;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    background-color: #e07b00;
}

/* footer */

.footer{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.social{
    padding-left: 24px;
}